:root {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
    --heading-color: #232121;
    --border-radius: 6px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #232121;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-light: rgba(130, 115, 252, .05);
    --bg-grey: #f7f7f7;
    --footer-bg: #000;
    --card-bg: #fff;

}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: var(--primary-color);
    --secondary: #f8b195;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a {
    color: var(--primary-color);
    text-decoration: none !important;
    background-color: transparent;
}

.w3l-res-categories .content-left-sec a h4 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}


/* .w3l-res-categories .gal-slide-img:hover{
    opacity: 2;
} */
.w3l-res-categories img:hover {
    opacity: 0.85;
    transition: all 0.4s;
}

.w3l-res-categories .gal-slide-info h4 {
    font-size: 18px;
    color: #fff;
}

.w3l-res-categories .content-left-sec h6 {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    opacity: 0.9;
}

.w3l-res-categories .gal-slide-info span {
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 18px;
    letter-spacing: 1px;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.title-subhny {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
    font-family: 'Pacifico', cursive;

}

.title-w3l {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.section {
    padding: 100px 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: "\f0c9";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: "";
}

/* header  */
.w3lhny-banner {
    background-size: cover;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../images/banner1.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
}

.w3_hny_header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}

h1 a.logo-brand {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.w3menu-right-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.w3menu-right-content .search-bar {
    display: flex;

}


.w3menu-right-content .search-bar .search .search__input {
    display: flex;
    flex: 1;
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    color: var(--font-color);
    border: none;
    font-weight: 400;
    border-radius: var(--border-radius);
    position: relative;
    right: 0;
    background: var(--bg-color);
    outline: 0;
    border: 1px solid var(--bg-color);
}

.w3menu-right-content .search-bar .search .search__icon {
    position: absolute;
    right: 20px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    position: relative;
    margin: 0;
}

.theme-switch input {
    display: none;
}

.fa-solid.fa-sun-bright,
.fa-regular.fa-moon {
    color: #eee;
    font-size: larger;
}


.mode-container {
    width: 24px;
    height: 24px;
    padding: 1px 0;
}

.mode-container i.gg-sun {
    display: none;
    color: #eee;
}

.mode-container i.gg-moon {
    display: block;
    color: #eee;
}

.btn {
    transition: all 0.5s;
}

.btn:hover {
    color: #ff5722;
    background-color: white;
    text-decoration: none;
}

button#trigger-overlay {
    outline: none;
    border: none;
    background: none;
    text-align: center;
    color: #fbfdfb;
    font-size: 1.95em;
    padding: 0 8px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(6 3 0 / 77%);
    z-index: 9999;
}

.overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #ff6600;
    border-radius: var(--border-radius);
}

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    line-height: 3em;
}

li {
    list-style-type: none;
}

.overlay ul li a {
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.w3lhny-banner .bannerhny-info {
    max-width: 600px;
    text-align: left;
    margin-top: 100px;
}

.w3lhny-banner .bannerhny-info h3 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

.w3lhny-banner .bannerhny-info p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.btn-white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

@media (max-width: 1190px) {
    .w3lhny-banner .bannerhny-info h3 {
        font-size: 48px;
        line-height: 58px;
    }


}

@media (max-width: 992px) {
    .w3lhny-banner .bannerhny-info h3 {
        font-size: 44px;
        line-height: 53px;
    }


}

@media (max-width: 800px) {
    .w3lhny-banner .bannerhny-info h3 {
        font-size: 40px;
        line-height: 50px;
    }

}

@media (max-width: 587px) {


    .search-bar form {
        opacity: 0;
    }
}



@media (max-width: 480px) {
    .w3lhny-banner .bannerhny-info h3 {
        font-size: 28px;
        line-height: 38px;
    }
}

/* about us  */
.title-subhny {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
    font-family: 'Pacifico', cursive;
}

.title-w3l {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Quicksand', sans-serif;
}

@media (max-width: 992px) {
    .agent-block-image {
        min-height: 200px !important;
        min-width: 600px;
    }
}

/* homeservice */
.box-wrap {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: var(--bg-color);
    position: relative;
    border: 1px solid var(--border-color-light);
}

.box-wrap-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: var(--bg-light);
    line-height: 70px;
    border-radius: var(--border-radius);
    transition: 0.3s ease-in-out;
}

.icon span.fa {
    color: var(--primary-color);
    font-size: 25px;
    line-height: 70px;
}

.box-wrap h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: var(--heading-color);
}

@media (max-width: 1200px) {

    h4,
    .h4 {
        font-size: calc(1.275rem + 0.3vw);
    }
}

/* .restaurants */
.w3l-agent-block {
    background: var(--primary-color);
}

.agent-block-image {
    background: url(../images/banner3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    z-index: 1;
    min-height: 600px;
}

.agent-block-image::before {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.title-subhny.two {
    color: #fff;
}

.title-subhny {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
    font-family: 'Pacifico', cursive;
}

.title-w3l {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.w3l-agent-block p {
    color: #ffdfc9;
}

.subscribe-cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 30px;
}

.subscribe-cat-gd {
    transition: all 10s;
}

.subscribe-cat-gd:hover .fa-thumbs-up,
.subscribe-cat-gd:hover .fa-cutlery {
    color: #f99644;
}



.subscribe-cat-gd .icon {
    background: #fff;
}

.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: var(--bg-light);
    line-height: 70px;
    border-radius: var(--border-radius);
    transition: 0.3s ease-in-out;
}

.icon span.fa {
    color: var(--primary-color);
    font-size: 25px;
    line-height: 70px;
}

.fa-thumbs-up:before {
    content: "\f164";
}

.subscribe-cat .subscribe-cat-link {
    display: block;
    color: var(--heading-color);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Quicksand', sans-serif;
}

/* popular  */
.w3l-res-categories .gal-slide-img {
    position: relative;
}

.w3l-res-categories .gal-slide-img img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.w3l-res-categories .gal-slide-grid .gal-slide-img:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
}

.w3l-res-categories .gal-slide-img:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.w3l-res-categories .gal-slide-grid .gal-slide-info {
    opacity: 1;
    transition: all 0.4s;
}

.w3l-res-categories .gal-slide-info {
    left: auto;
    bottom: 0;
    width: 95%;
    padding: 0 10px;
    position: absolute;
    opacity: 0;
    color: #fff;
    transform: translate3d(0, 10%, 0);
    transition: opacity 0.3s;
}

@media (max-width: 800px) {
    .w3l-res-categories .content-left-sec a h4 {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (min-width: 576px) {

    .mt-sm-2,
    .my-sm-2 {
        margin-top: 0.5rem !important;
    }
}